    @font-face {
        font-family: 'YeogiOttaeJalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-display: swap;
    }

body, html {scroll-behavior: smooth;}
body main {background-color: #fff9ed; max-width: 1920px;}

/* 페이지 이동 */
main .link_remocon {
    position: fixed; z-index: 900; right: 50px; bottom:50%;
    display: flex; flex-flow: column;
}
main .link_remocon a {
    width: 120px; line-height: 41px; background-color: #FFEFCA; 
    display: inline-block; border-radius: 50px; text-align: center;
    font-size: 1.125rem; font-weight: 500;
}
main .link_remocon a.active {background-color: #FFD570;  transition: background-color 0.35s ease, color 0.35s ease;}

/* 인트로 */
main #intro {
    display: flex; flex-flow: nowrap; justify-content: space-between;
    padding: 115px 0;
}
main #intro .intro_title {padding-top: 200px; 
    animation: ending_title 2s infinite alternate linear;
}
main #intro .logo {width: 510px; height: 134px;}
main #intro .logo img {width:100%}
main #intro .role {
    text-align: center; font-size: 1.75rem; font-weight: 500; color: #767676;
}

/* 프로필 */
main #profile {
    background-image: url(../images/2bg.png); height: 980px; background-position: center; background-size: cover; background-repeat: no-repeat;
    display: flex; flex-flow: nowrap; gap: 332px; justify-content: center; padding-top: 100px;
}
main #profile p em {
        font-family: 'YeogiOttaeJalnan'; line-height: 1.5; font-size: 1.5rem;display: inline-block;
}
/* 공통글자 */
main #profile h2 {font-weight: 700; font-size: 1.438rem; margin-bottom: 30px;}
main #profile p {padding-bottom: 20px;}

main #profile .medium {font-weight: 500;}


main #profile .left span {margin-bottom: 43px; display: inline-block; width: 360px;}
main #profile .left span img {width: 100%;}

main #profile .left .profile_inner  {margin-bottom: 50px; display:  flex;}

main #profile .right p em {margin: 60px auto 100px;}
main #profile .right .skill .design_inner  {display: flex; margin-bottom: 50px;}
main #profile .right .skill .Platforms_inner {margin-bottom: 50px;}
main #profile .right .skill .publishing_inner  {display: flex;}

/* 프로젝트 */

/* 활성화 제외 탭버튼 숨기기 */
main #project {
    background-image: url(../images/3bg.png); background-position: center; background-size: cover; background-repeat: no-repeat;
    height: 980px; display: flex; flex-flow: column; align-items: center; padding-top: 112px;
}
main #project .project_group .tap_group
{display: flex; flex-wrap: nowrap; align-self: start; }

main #project .project_group .tap_group .folder_active, main #project .project_group .tap_group button {
    font-family:'YeogiOttaeJalnan'; border-top-left-radius: 20px; border-top-right-radius: 20px;text-align: center; 
}
main #project .project_group .tap_group .tab_btn.active {/* 활성화 될 경우만 스타일 다르게 */
    font-size: 1.25rem; background-color: #DEEDCA; width: 220px; padding: 20.5px 0;
}
.tab_btn.active::before {/* 숫자 앞에 프로젝트 */
    content: "project ";
}


main #project .project_group .tap_group button {
    font-size: 1rem; background-color: #C8D6B6; width: 110px; padding: 25px 0;
}
main #project .project_group .content {
    display: flex; flex-wrap: nowrap; align-items: center; justify-content:center; gap:96px; border-radius: 20px; border-top-left-radius: 0;
    background-color: #DEEDCA; padding: 91.5px 96px; height: 683px; width: 1423px; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
main #project .project_group .content .project_img {width: 655px; height: 500px; display: inline-block;}
main #project .project_group .content .project_img img {width:100%;}
main #project .project_group .content .containers {
    display: flex; flex-flow: column; justify-content: space-between;
    width: 480px; height: 500px; padding: 20px 0 ;
}
main #project .project_group .content .containers h3 {font-family:'YeogiOttaeJalnan'; font-size: 1.875rem;}
main #project .project_group .containers .project_inner {display: flex; gap: 113px;}
main #project .project_group .containers .medium {font-weight: 500;}
main #project .project_group .containers p {font-size: 1.125rem; padding-bottom: 30px; line-height: 1.5;}
main #project .project_group .containers .project_inner .project_inner_right p {color: #515151;}
main #project .project_group .containers .project_inner .project_inner_left p:nth-child(2) {padding-bottom: 57px;}
main #project .project_group .containers p:last-child { padding-bottom: 0;}
main #project .project_group .link_group {display: flex; gap: 10px;}
main #project .project_group .link_group a {
    background-color: #FFF; display: inline-block; border-radius: 50px; width: 100%; line-height: 57px; text-align: center; font-weight: 500;
}

/* 비활성화된 프로젝트들은 안보이게 */
main #project .project_group .content{
    display: none;
}
/* 활성 패널만 보임 */
main #project .project_group .content.active{display: flex;}

/* 디자인 */
main #design {
    background-image: url(../images/4bg.png); background-size: cover; background-position: center; background-repeat: no repeat; height: 980px;
    position: relative; padding-top: 143.5px;
}
main #design h3 {font-family:'YeogiOttaeJalnan'; font-size: 1.875rem; text-align: center; margin-bottom: 70px;}
main #design .design_content .design_content {width:1000px;}
main #design .design_content .swiper-wrapper {height: 446px; margin-bottom: 70px;}
main #design .design_content .swiper-wrapper .swiper-slide {width: 350px; height: 446px; display: inline-block;}
main #design .design_content .swiper-wrapper .swiper-slide img {width: 100%;}
main #design .control{position: absolute; bottom: 143px; width: 150px; left: 45.5%;}
main #design .control .swiper-button-prev svg, main #design .control .swiper-button-next svg
{display: none;}
main #design .control .swiper-button-prev {background-image: url(../images/arrow_left.png);}
main #design .control .swiper-button-next {background-image: url(../images/arrow_right.png);}


/* 엔드 */
main #end {
    background-image: url(../images/5bg.png);  background-size: cover; background-position: center; background-repeat: no repeat; height: 980px;
    position: relative;
}
main #end span {
    width: 563px; height: 209px; margin-left: 678.5px; display: inline-block;
    animation: ending_title 2s infinite alternate linear;
    position: absolute; bottom: 40%;
}
main #end span img {width:100%;}
main #end .tel_email {
    position: absolute; bottom: 50px; right: 50px; text-align: end;
}

@keyframes ending_title {
    0% {transform:translateY(0)}
    100% {transform:translateY(50px)}
}
